.btn {
  background-color: var(--color-secondary);
  color: var(--color-secondary-opposite);
  border: 3px solid var(--color-secondary);
  font-weight: 400;
}

.btn:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary-opposite);
  border: 3px solid var(--color-primary);
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-primary);
  border: transparent;
  font: var(--font-secondary);
  text-transform: uppercase;
}

.btn-ghost:hover {
  background-color: var(--color-accent-dark);
  color: var(--color-secondary-opposite);
  border: transparent;
}

.btn-light {
  background-color: var(--color-accent-dark);
  border: 2px solid var(--color-accent-dark);
  color: var(--color-secondary-opposite);
}

.btn-light:hover {
  background-color: var(--color-accent-light);
  border: 2px solid var(--color-accent-light);
  color: var(--color-secondary-opposite);
}
