.icon-hover:hover path, .icon-hover:hover circle {
  fill: var(--color-accent-dark);
}

.icon-hover:hover polyline {
  stroke: var(--color-accent-dark);
}

.logo {
  width: 90%;
  height: 90%;
  max-width: 15em;
}

.logo:hover path {
  fill: var(--color-accent-dark);
}

.border-bottom {
  border-bottom: 2px solid var(--color-accent-light);
}

.border-top {
  border-top: 2px solid var(--color-accent-light);
}
