.icon-hover:hover path, .icon-hover:hover circle {
  fill: var(--color-accent-dark);
}

.icon-hover:hover polyline {
  stroke: var(--color-accent-dark);
}

.logo {
  width: 90%;
  height: 90%;
}

.logo:hover path {
  fill: var(--color-accent-dark);
}
